/* Slide 1 */

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

h1 .green {
    color: #59551D;
    font-weight: 700;
}

h2 {
	color: #f2ead6;
	background-color: rgba(0,0,0,0.6);
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
}

p {
    font-family: 'Inconsolata', monospace;
}

#slide-0 .bcg {
    background-image:url('../img/slide0.jpg')
}

#slide-0 img {
    position: relative;
    display: inline-block;
}

.title {
    left: 7%;
    width: 20%;
    margin-top: -16%;
}

.ribbon {
    left: 7%;
    width: 50%;
    padding-top: 8%;
}

.credits {
    left: 7%;
    width: 20%;
    padding-top: 32%;
}

#slide-1 .bcg {
    background-image:url('../img/slide1.jpg')
}

#slide-1 img {
    left: 19%;
    width: 260px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 4%;
}

#slide-1 h1 {
    text-align: right;
    display: inline-block;
    margin-left: 24%;
    padding-top: 12%;
}

/* Slide 2 */
#slide-2 .bcg {
    background-image:url('../img/slide2.jpg')
}

#slide-2 h2 {
    width: 40%;
    margin-left: 50%;
    text-align: center;
}

#slide-2 h2:first-of-type {
    margin-top: 15%;
}

#slide-2 h2:last-of-type {
    margin-top: 5%;
}

#slide-2 .box {
    top: 35%;
    left: 10%;
}

#slide-2 .box.open {
    height: 65px;
}

#slide-2 .line {
    top: 37%;
    left: 38%;
}

#slide-2 .line.open {
    width: 30px;
    height: 1px;
}

/* Slide 3 */
#slide-3 .bcg {
    background-image:url('../img/slide3.jpg')
}

#slide-3 .hsContent {
	margin-left: -239px;
}

#slide-3 .box {
    top: 50%;
    left: 43%;
}

#slide-3 .box.open {
    height: 250px;
}

#slide-3 .line {
    top: 44%;
    left: 44.2%;
}

#slide-3 .line.open {
    height: 20px;
}

/* Slide 4 */
#slide-4 .bcg {
    background-image:url('../img/slide4.jpg')
}

#slide-4 .hsContent {
	margin-left: -450px;
	position: fixed;
	top: 250px;
}

.p4_jenny {
    left: 46%;
    width: 285px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.priest {
    left: 85%;
    width: 210px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#slide-4 .box {
    top: 50%;
    left: 43%;
}

#slide-4 .box.open {
    height: 250px;
}

#slide-4 .line {
    top: 44%;
    left: 44.2%;
}

#slide-4 .line.open {
    height: 20px;
}

/* Slide 5 */

#slide-5 .bcg {
    background-image:url('../img/slide5.jpg')
}

.p5_jenny {
    left: 50%;
    width: 50%;
    position: relative;
    display: inline-block;
    padding-top: 9%;
}

#slide-5 .box {
    top: 35%;
    left: 10%;
}

#slide-5 .box.open {
    height: 150px;
}

#slide-5 .line {
    top: 37%;
    left: 38%;
}

#slide-5 .line.open {
    width: 30px;
    height: 1px;
}

/* Slide 6 */

#slide-6 .bcg {
    background-image:url('../img/slide6.jpg')
}

.p6_jenny {
    width: 80%;
    left: 20%;
    position: relative;
    display: inline-block;
    padding-top: 10%;
}

#slide-6 .box {
    top: 35%;
    left: 10%;
}

#slide-6 .box.open {
    height: 210px;
}

#slide-6 .line {
    top: 37%;
    left: 38%;
}

#slide-6 .line.open {
    width: 30px;
    height: 1px;
}

/* Slide 7 */

#slide-7 .bcg {
    background-image:url('../img/slide7.jpg')
}

.p7_jenny {
    width: 100%;
    position: relative;
    display: inline-block;
}

/* Slide 8 */

#slide-8 .bcg {
    background-image:url('../img/slide8.jpg')
}

.p8_jenny {
    width: 100%;
    position: relative;
    display: inline-block;
}
