.dialog,
.line,
.box {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.dialog {
  margin: 0 auto;
  display: block;
  position: fixed;
  width: 31px;
  height: 31px;
  top: 210px;
  left: 33%;
  background-color: rgba(250, 250, 250, 0.1);
  border: 3px solid rgba(100, 200, 250, 0.5);
  border-radius: 100%;
  cursor: pointer;
}

.dialog:hover {
  border: 4px solid #fafafa;
}

.line {
  margin: 0 auto;
  display: block;
  position: fixed;
  width: 1px;
  height: 0px;
  top: 270px;
  left: 34.3%;
  opacity: 0.2;
  background-color: #fafafa;
}

.line.open {
  height: 80px;
  opacity: 1;
}

.box {
  margin: 0 auto;
  display: block;
  position: fixed;
  width: 401px;
  height: 0px;
  top: 365px;
  left: 21.5%;
  opacity: 0.2;
  background-color: #fafafa;
  text-align: center;
  line-height: 30px;
  color: #345;
  overflow: hidden;
}

.box.open {
    height: 180px;
    opacity: 1;
}
